<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{!-- External CSS  --}}
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
{{> header}}

{{!-- Content Goes Here  --}}

<div class="container">{{{body}}}</div>
  


{{> footer}}
{{!-- Javascript --}}
<script src="/assets/js/script.js"></script>
</body>
</html>