<h1 class="main-header">Create a new gab</h1>

<form action="/user/createGab" method="post">

    <textarea name="message" rows="10" cols="50">Write something here</textarea><br><br>

    <button type="submit">Save gab</button>
</form>