<h1 class="main-header">Login</h1>


<form action="/login" method="post">

    <lable>Username</lable><br>
    <input type="text" name="username"><br><br>
    <lable>Password</lable><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Sign up</button>
</form>