<h1 class="main-header">Sign Up</h1>


<form action="/" method="post">

    <lable>Username</lable><br>
    <input type="text" name="username"><br><br>
    <lable>Password</lable><br>
    <input type="password" name="password"><br><br>
    <lable>Password Confirmation</lable><br>
    <input type="password" name="confirm"><br><br>

    <button type="submit">Sign up</button>
</form>